/* Style.CSS

   Created : 2011-11-26
   Revised : 2011-11-28
   Author : Tom Coleman
   Copyright : 2011-2011
   By : University of Mississippi Medical Center
*/

body
{ font-family : Arial, Helvetica, sans-serif ;
  font-size : 12pt ;
}

a
{ font-family : Arial, Helvetica, sans-serif ;
  font-size : 12pt ;
  color : #003399 ;
}

#Indent
{ margin-left : 20px ;
}

/* End */
