/* Style.CSS

   Created : 2011-11-26
   Revised : 2011-11-28
   Author : Tom Coleman
   Copyright : 2011-2011
   By : University of Mississippi Medical Center
*/

body
{ font-family : Arial, Helvetica, sans-serif ;
  font-size : 12pt ;
}

a
{ font-family : Arial, Helvetica, sans-serif ;
  font-size : 12pt ;
  color : #003399 ;
}

.Indent
{ margin-left : 20px ;
}

.Table
{ margin-left : 20px ;
  text-align : center ;
}

td
{ padding-top : 2px ;
  padding-bottom : 2px ;
  padding-left : 20px ;
  padding-right : 20px ;
}

.Left
{ text-align : left ;
}

.Right
{ text-align : right ;
}

.Anchor
{ padding-left : 0px ;
//  margin-left : -20px ;
  text-align : left ;
}

.Spacer
{ padding-top : 10px ;
  text-align : left ;
}

/* End */
